.App div {
  font-family: sans-serif;
}
.App a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 30px;
  font-weight: 400;
}
.App header {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  margin: 0;
}
.App ol {
  display: inline-block;
  padding: 0px 20px;
  color: #eeeeee;
}
.convertor {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}
.span {
  padding-top: 200px;
}
.equals {
  padding-top: 150px;
  font-size: 30px;
  font-weight: 400;
  color: #eeeeee;
}
