.Convertor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
input {
  border: 1px solid #333;
  border-radius: 4px;
  width: 100px;
  padding: 10px;
  margin-top: 150px;
}
select {
  margin-left: 15px;
  border: 1px solid #333;
  border-radius: 4px;
}
